@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model ShoppingCore.Models.ProductDetail

@{
    Layout = null;
}
<!-- BEGIN html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>

    <!-- Title -->

    <title>Product Details</title>

    <style media="all">
        .description .items ul li {
            font-size: small;
            font-family: cursive;
        }
    </style>


    <style id="shopify-dynamic-checkout-cart">
        @@media screen and (min-width: 750px) {
            #dynamic-checkout-cart {
                min-height: 50px;
            }
        }

        @@media screen and (max-width: 750px) {
            #dynamic-checkout-cart {
                min-height: 60px;
            }
        }
    </style>

    <!-- Meta tags -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=100%; initial-scale=1; minimum-scale=1;" />


    <meta name="description" content="Donec iaculis vestibulum sollicitudin. Maecenas sodales est lectus. Etiam elementum lacus at est egestas et dignissim orci laoreet. Vestibulum tincidunt..." />


    <!-- Favicon -->
    <link href="~/css/sweetalert.css" asp-append-version="true" rel="stylesheet" type="text/css" media="all" />

    <link rel="shortcut icon" href="../../cdn.shopify.com/s/files/1/0176/2758/t/4/assets/faviconcfcd.html" asp-append-version="true" type="image/x-icon" />


    <!-- Stylesheets -->
    <link href="../../cdn.shopify.com/s/files/1/0176/2758/t/4/assets/main-stylesheetcfcd.css" asp-append-version="true" rel="stylesheet" type="text/css" media="all" />
    <link href="../../cdn.shopify.com/s/files/1/0176/2758/t/4/assets/darkcfcd.css" asp-append-version="true" rel="stylesheet" type="text/css" media="all" />
    <link href="~/lib/jquery/jquery-ui.css" rel="stylesheet" />
    <!-- JavaScripts -->
    <script src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/jquery.mincfcd.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/jquery.placeholder.mincfcd.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/jquery.uniformcfcd.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/jquery.cycle.allcfcd.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/globalcfcd.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/lib/jquery/jquery-ui.min.js"></script>
    <script charset="utf-8" src="~/js/sweetalert-dev.js"></script>
    <script charset="utf-8" src="~/js/site.js"></script>
    <script src="~/js/CustomFunction.js" asp-append-version="true"></script>

    <!-- END head -->
</head>

<!-- BEGIN body -->
<body class="top template-product">
    <div class="lightbox"></div>
    <div class="quick-shop"></div>
    <!-- BEGIN .main-body-wrapper -->
    <div class="main-body-wrapper">

        <!-- BEGIN .main-dock-wrapper -->
        <div class="main-dock-wrapper">
            <div class="main-dock">
                <ul>
                    <li><a asp-controller="Home" asp-action="index" class="home"></a></li>

                    <li><a asp-controller="Home" asp-action="FaqSupport">FAQ &amp; support</a></li>

                    <li><a asp-controller="Home" asp-action="Contact">Contacts</a></li>

                    <li><a asp-controller="Home" asp-action="Features">Features</a></li>

                </ul>

                <ul class="navbar dropdown">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="checkout"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li class="checkout"><a asp-controller="Account" asp-action="Login">Login</a></li>
                    }
                </ul>
                <div id="_cartDiv"></div>
                @* <ul>
                <li class="cart"><a asp-controller="Shopping" asp-action="Cart">Your cart: <b>@HttpContextAccessor.HttpContext.Session.GetInt32("Cartcount") items</b> @*(<span class='money'>$0.00</span> in total)*@*@*@</a></li>
                </ul>*@
            </div>
            <!-- END .main-dock-wrapper -->
        </div>
        <!-- BEGIN Login Modal -->
        <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("_Login","Account")"></div>
        <!-- BEGIN end Login Modal -->
        <!-- BEGIN .main-header -->
        <div class="main-header">
            <div class="logo">

                <a asp-controller="Home" asp-action="index"><img style="margin: -90px 22px -72px 0;" src="~/Images/mainlogo.png" asp-append-version="true" alt="Callisto Dark - Responsive Shopify Theme" /></a>
                @*<img src="~/Images/mainlogo.png" />*@
                <span class="custom-font-1">All Furnitures at a Place</span>
            </div>

            <form id="header-search" asp-controller="Home" asp-action="Search" method="post">
                <div class="search">
                    <input type="text" id="searchname" name="productName" class="input-text-1 trans-1" placeholder="search by name" />
                </div>
            </form>
            <div class="clear"></div>


            <div class="main-menu custom-font-1">
                <table style="min-width: -webkit-fill-available;">
                    <tr>
                        <td>
                            <ul>
                                <li><a asp-controller="Home" asp-action="index" class="single">Home</a></li>
                                <li>
                                    <a asp-controller="Home" asp-action="Catalog" asp-route-id="0"><span>COllections</span></a>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog" asp-route-id="2">Living room furniture</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog" asp-route-id="3">Dining room furniture</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog" asp-route-id="4">Bedroom furniture</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog" asp-route-id="5">Home Decor</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog" asp-route-id="6">Restaurant furniture</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Home" asp-action="Blog" class="single">Blog</a></li>
                                <li><a asp-controller="Home" asp-action="About" class="single">About Us</a></li>
                                <li><a asp-controller="Home" asp-action="Contact" class="single">Contacts</a></li>
                                <li><a asp-controller="Home" asp-action="Features" class="single">Features</a></li>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                                {
                                    <li>
                                        <a asp-controller="Home" asp-action="Catalog"><span>@User.Identity.Name</span></a>
                                        <ul>
                                            <li><a asp-controller="Shopping" asp-action="Orders">Orders</a></li>
                                            <li><a asp-controller="Shopping" asp-action="Cart">Cart</a></li>
                                            <li><a asp-controller="Account" asp-action="Myaccount">Account</a></li>
                                            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                                        </ul>
                                    </li>
                                }
                                else if (User.IsInRole("Admin"))
                                {
                                    <li><a asp-controller="Admin" asp-action="index" class="single">Dashboard</a></li>
                                }


                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clear"></div>
            <!-- END .main-header -->
        </div>

        <!-- BEGIN .main-content-wrapper -->
        <div class="main-content-wrapper">


            <!-- BEGIN .main-item-wrapper -->
            <div class="main-item-wrapper">


                <div class="main-title">
                    <p class="custom-font-1">
                        <a href="/Home/index">Home</a>
                        <span>/</span>
                        <a href="/home/catalog" title="Sofas &amp; sets">Catalog</a>

                        <span>/</span>
                        <a href="/Home/ProductDetails/@Model.ProductId" class="active">@Model.ProductName</a>

                    </p>

                </div>


                <div class="main-image">

                    <div style="overflow: hidden;border: 5px solid darkslategray;">
                        <div id="single-product-slider" style="position: relative;width: 100%;height: 472px;overflow: hidden;">
                            @foreach (var image in Model.Images)
                            {
                                <div class="image">
                                    <a href="@Url.Content("/ProductImage/"+image.ImageName)" class="lightbox-launcher">
                                        <img asp-append-version="true" src="@Url.Content("/ProductImage/"+image.ImageName)" style="height: 470px; position: absolute; left: -196px; top: 0px; display: inline;" />
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="clear"></div>


                    <div class="slider-navigation-thumbs">
                        <table>
                            <tr>

                                @foreach (var image in Model.Images)
                                {
                                    <td>
                                        <div class="image-wrapper-4 active">
                                            <div class="image">
                                                <a href="#"><img asp-append-version="true" src="@Url.Content("/Thumbnails/"+image.ImageName)" alt="Couch set with coffe table" class="product-image-resizable-small" /></a>
                                            </div>
                                        </div>
                                    </td>
                                }

                            </tr>
                        </table>

                    </div>

                </div>

                <div class="text">
                    <div class="product-container" id="product-100173930">
                        <h2 class="custom-font-1"><a href="/Home/ProductDetails/@Model.ProductId">@Model.ProductName</a></h2>

                        <div class="price custom-font-1">

                            <p>
                                <i class="custom-font-1"></i>
                                <b class="custom-font-1"> <span class='money'>@Model.PriceSale</span> &nbsp;<span class='money' style="text-decoration: line-through;">@Model.Price</span></b>
                            </p>
                            <p class="active" style="font-size: large;font-weight: bold;color: #feebb7;">Only <span style="font-size: larger;">@Model.count</span> items left</p><br />

                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="javascript:void(0)" onclick="AddtoCart ('@Model.ProductId')" class="button-3"><span>Add to cart</span></a>
                            }
                            else
                            {
                                <a asp-controller="Shopping" asp-action="AddProductToCart1" asp-route-itemId="@Model.ProductId" class="button-3"><span>Add to cart</span></a>
                            }

                            <div class="clear"></div>
                        </div>

                        <div class="description">
                            <div class="button-navigation custom-font-1">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="active"><span>Description</span></a>
                                          
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="items">
                                <div id="description_slider">
                                    <div class="item text-only">
                                        <div><span>@Html.Raw("<span color='white' style='font-size: small;'>" + @Model.Description + "</span>")</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="clear"></div>

                <!-- END .main-item-wrapper -->
            </div>

            <!-- BEGIN .related-items -->
            <div class="featured-items related-items">

                <div class="main-title">
                    <p class="custom-font-1">Similar Products</p>
                </div>
                <div class="items-wrapper">
                    <div class="items">
                        @foreach (var item in Model.RelatedProducts)
                        {
                            <div class="item-block-1 __collection-item">
                                <div class="image-wrapper-3">
                                    <div class="image">
                                        <div class="image-overlay-1 trans-1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="#" class="quick-shop-launcher button-1 custom-font-1 trans-1"><span>Quick shop</span></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <a href="#" title="@item.ProductName">
                                            <img asp-append-version="true" style="position:absolute;display:block;width:100%;height:100%" src="@Url.Content("/ProductImage/"+item.ProductImage)" alt="Product Image" />
                                        </a>
                                    </div>
                                </div>
                                <h3><a href="large-black-wood-bed.html" class="custom-font-1">@item.ProductName</a></h3>
                                <p>
                                    <i class="custom-font-1"></i>
                                    <b class="custom-font-1"> <span class='money'>@item.PriceSale</span> &nbsp;<span class='money' style="text-decoration: line-through;">@item.Price</span></b>

                                </p>
                                <!-- BEGIN .quick-shop -->
                                <div class="quick-shop-content" id="quick-shop-100173494">
                                    <div class="content">
                                        <div class="image-resize-container">
                                            <div class="image-wrapper-1">
                                                <div class="image">
                                                    <div class="image-overlay-1 trans-1">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.ProductId" class="button-1 custom-font-1 trans-1"><span>View this item in full view</span></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <a href="Home/ProductDetails/@item.ProductId"><span class="placeholder-span" data-src="@Url.Content("/ProductImage/"+item.ProductImage)" data-class="product-image-resizable-344x344" data-alt="Striped oak wood bed"></span></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text">
                                            <div id="product-100173494">
                                                <h2 class="custom-font-1"><a href="Home/ProductDetails/@item.ProductId">@item.ProductName</a></h2>
                                                <div class="price custom-font-1">
                                                    <p class="current-price"></p>
                                                    <p><s class="old-price"></s></p>

                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <a href="javascript:void(0)" onclick="AddtoCart ('@Model.ProductId')" class="button-3"><span>Add to cart</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Shopping" asp-action="AddProductToCart1" asp-route-itemId="@Model.ProductId" class="button-3"><span>Add to cart</span></a>
                                                    }
                                                    <div class="clear"></div>
                                                </div>

                                                <div class="description">
                                                    <div class="items">
                                                        <div class="item">
                                                            @Html.Raw("<span color='white' style='font-size: small;'>" + @item.Description + "</span>")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                        <a href="#" class="close"></a>

                                    </div>
                                    <!-- END .quick-shop -->
                                </div>
                            </div>
                        }



                    </div>
                </div>
                <div class="clear"></div>

                <!-- END .related-items -->
            </div>



            <div class="clear"></div>


            <div class="clear"></div>

            <!-- END .main-content-wrapper -->
        </div>


        <!-- BEGIN .main-footer-wrapper -->
        <div class="main-footer-wrapper">

            <a href="#" class="back-to-the-top">Go back to the top</a>

            <div class="main-footer">

                <div class="menu">
                    <div class="main-title">
                        <p class="custom-font-1">Menu</p>
                    </div>
                    <ul>

                        <li><a href="/Home/About" class="single">About Us</a></li>

                        <li><a href="/Home/Catalog/0" class="single">Catalog</a></li>

                        <li><a href="/Home/Blog" class="single">Blog</a></li>

                        <li><a href="/Home/Features" class="single">Features</a></li>

                    </ul>
                </div>


                <div class="footer-twitter">
                    <div class="main-title">
                        <p class="custom-font-1">Latest Tweets</p>
                    </div>
                    <div class="items">
                        <p>Callisto will look great and fully usable on tablets and smartphones such as iPad and iPhone. You can try to re-size your browser windows to see for yourself!</p>
                    </div>
                </div>


                <div class="newsletter">

                    <div class="main-title">
                        <p class="custom-font-1">Newsletter</p>
                    </div>

                    <p>Vestibulum at lacus id turpis malesuada varius. Donec ultricies mauris vel nisi porta dictum.</p>

                    <form method="post" action="https://callisto-dark.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                        <input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />



                        <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter" />
                        <input type="text" id="contact_email" name="contact[email]" class="input-text-2 trans-1" placeholder="your email address" />
                        <input type="submit" value="Subscribe" class="submit custom-font-1" />

                        <div class="clear"></div>

                    </form>

                </div>



                <div class="about-us">
                    <div class="main-title">
                        <p class="custom-font-1">About us</p>
                    </div>
                    <p></p>
                    <p class="social">

                        <a href="http://youtube.com/"><img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-youtube-1cfcd.png" asp-append-version="true" alt="" /></a>


                        <a href="http://facebook.com/"><img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-facebook-1cfcd.png" asp-append-version="true" alt="" /></a>


                        <a href="http://twitter.com/"><img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-twitter-1cfcd.png" asp-append-version="true" alt="" /></a>


                        <a href="http://flickr.com/"><img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-flickr-1cfcd.png" asp-append-version="true" alt="" /></a>



                    </p>
                    <p class="social payment-types">
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-americanexpress-1cfcd.png" asp-append-version="true" alt="" />
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-discover-1cfcd.png" asp-append-version="true" alt="" />
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-visa-1cfcd.png" asp-append-version="true" alt="" />
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-mastercard-1cfcd.png" asp-append-version="true" alt="" />
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-maestro-1cfcd.png" asp-append-version="true" alt="" />
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-cirrus-1cfcd.png" asp-append-version="true" alt="" />
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-paypal-1cfcd.png" asp-append-version="true" alt="" />
                        <img src="/cdn.shopify.com/s/files/1/0176/2758/t/4/assets/ico-google-1cfcd.png" asp-append-version="true" alt="" />
                    </p>
                </div>

            </div>

            <!-- END .main-footer-wrapper -->
        </div>


        <!-- END .main-body-wrapper -->
    </div>
        <script type="text/javascript">
            $(document).ready(function () {
                getCart();
                $("#searchname").autocomplete({
                    source: '/Home/search',
                });
            });
// ]]>
        </script>
        <style>
            .ui-autocomplete {
                max-height: 100px;
                overflow-y: auto; /* prevent horizontal scrollbar */
                overflow-x: hidden; /* add padding to account for vertical scrollbar */
                z-index: 1000 !important;
            }
             .ui-menu .ui-menu-item a {
            text-decoration: none;
            display: block;
            padding: 3px .4em;
            line-height: 1.5;
            min-height: 0;
            font-weight: normal;
            background-color: #1f1c1d;
            color: #ffedb2;
            margin: 1px 0;
        }
        </style>

        <!-- END body -->
    </body>

</html>